---
title: Electric Vehicle
layout: default
---
<p>In summer 2013, I was lucky to get the privilege of going to Massachusetts Institute of Technnology (MIT) for summer school. My university, Singapore University of Technology and Design (SUTD), has a partnership with MIT for this program. 30 students were selected. The activities that we signed up for were ceramics making, sketching, entrepreneurship seminars, and many more. The main project was to build an electric vehicle (gokart) within 10 weeks. I documented the entire experience of building the gokart in this page. Check out the videos first! Then, read the individual posts if you are interested. Enjoy! :)</p>
{% for post in site.posts %}
	{% if post.tag == 'gokart' %}
		{% include firstimage.script %}
		{% if presence %}
			<div class="blocks">
				<div class="block-images">
					<div class="block-dummy"></div>
					<div class="block-element">
						<a href="{{ post.url }}"><img {{ imageMarkup }}></a>
					</div>
				</div>
				<div class="block-content">
					<a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
					<p>{{ post.content | strip_html | truncatewords: 50 }}</p>
				</div>
			</div>
		{% else %}
			<div class="blocks" style="height:auto;">
				<div class="block-content" style="padding-left:0px;">
					<a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
					<p>{{ post.content | strip_html | truncatewords: 50 }}</p>
				</div>
			</div>
		{% endif %}
	{% endif %}
{% endfor %}