---
title: Home
layout: default
---
<p style="background-color: #f5f5f5;">Hi there! Welcome to my website. Here are my latest posts. I try my best to make the website mobile and web optimized. It's pretty tedious to do it for both, and I have to prioritize my time. As such, please use a Chrome Web Browser when you're viewing this site. Certain elements may not work well on mobile platforms.</p>
{% for post in paginator.posts %}
	{% include firstimage.script %}
	{% if presence %}
		<div class="blocks">
			<div class="block-images">
				<div class="block-dummy"></div>
				<div class="block-element">
					<a href="{{ post.url }}"><img {{ imageMarkup }}></a>
				</div>
			</div>
			<div class="block-content">
				<a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
				<p>{{ post.content | strip_html | truncatewords: 50 }}</p>
			</div>
		</div>
	{% else %}
		<div class="blocks" style="height:auto;">
			<div class="block-content" style="padding-left:0px;">
				<a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
				<p>{{ post.content | strip_html | truncatewords: 50 }}</p>
			</div>
		</div>
	{% endif %}
{% endfor %}
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}
</div>
{% endif %}