---
title: Deep Learning
layout: default
---
<p>Update! While TensorFlow is a decent tool with a lot of functionality. I can't really get efficient in it as there are quite a few bugs. I have shifted to Caffe and NVIDIA Digits, which is somewhat more stable. NVIDIA Digits is pretty new but it is built on Caffe. It's basically a GUI for fast experimentation on neural networks. This is definitely what I would use for simple neural networks.</p>

<p>Google released TensorFlow in November 2015 and I started using TensorFlow in the last week of December 2015. That got me really excited as I just started working on some Computer Vision problems. The first problem I did was about <a href="https://en.wikipedia.org/wiki/Where%27s_Wally%3F">Where's Wally?</a>, and it definitely won't be the last project that I will be doing on Deep Learning. Check out the list of <a href="\tensorflow\stackoverflow\">questions and answers</a> that I have posted on StackOverFlow!</p>

{% for post in site.posts %}
	{% if post.tag == 'deeplearning' or post.tag == 'tensorflow' %}
		{% include firstimage.script %}
		{% if presence %}
			<div class="blocks">
				<div class="block-images">
					<div class="block-dummy"></div>
					<div class="block-element">
						<a href="{{ post.url }}"><img {{ imageMarkup }}></a>
					</div>
				</div>
				<div class="block-content">
					<a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
					<p>{{ post.content | strip_html | truncatewords: 50 }}</p>
				</div>
			</div>
		{% else %}
			<div class="blocks" style="height:auto;">
				<div class="block-content" style="padding-left:0px;">
					<a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
					<p>{{ post.content | strip_html | truncatewords: 50 }}</p>
				</div>
			</div>
		{% endif %}
	{% endif %}
{% endfor %}