---
title: Entrepreneur First 2016
layout: default
---
<p>Entrepreneur First is where the most ambitious and talented computer scientists and engineers build their companies from scratch. You don't need a team or fixed idea to apply. We help you find a co-founder, get customers, and raise funding from top investors. Our London program builds some of Europe's most exciting technology companies.  We've supported hundreds of exceptional people from leading institutions. Now we're coming to Singapore, and I'm lucky to be part of the first cohort of EF Singapore!</p>

<p>The journey of building a startup is about learn from your failures fast. Here's my <a href={% post_url 2016-10-07-failures %}>failures</a> and it will serve as a reminder to myself and perhaps others who want a reference in future.</p>

{% for post in site.posts %}
	{% for tag in post.tags %}
		{% if tag == 'ef' %}
			{% include firstimage.script %}
			{% if presence %}
				<div class="blocks">
					<div class="block-images">
						<div class="block-dummy"></div>
						<div class="block-element">
							<a href="{{ post.url }}"><img {{ imageMarkup }}></a>
						</div>
					</div>
					<div class="block-content">
						<a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
						<p>{{ post.content | strip_html | truncatewords: 50 }}</p>
					</div>
				</div>
			{% else %}
				<div class="blocks" style="height:auto;">
					<div class="block-content" style="padding-left:0px;">
						<a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
						<p>{{ post.content | strip_html | truncatewords: 50 }}</p>
					</div>
				</div>
			{% endif %}
		{% endif %}
	{% endfor %}
{% endfor %}