---
title: Blog
layout: default
---
<p style="background-color: #e5e5e5;">Don't take the post dates on this
page as a measure of how often I blog. I update my Books page and Euler page
quite often.</p>
{% for post in paginator.posts %}
	{% include firstimage.script %}
	{% if presence %}
		<div class="blocks">
			<div class="block-images">
				<div class="block-dummy"></div>
				<div class="block-element">
					<a href="{{ post.url }}"><img {{ imageMarkup }}></a>
				</div>
			</div>
			<div class="block-content">
				<a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
				<i>Posted: {{ post.date | date: "%-d %B %Y" }}</i>
				<p>{{ post.content | strip_html | truncatewords: 50 }}</p>
			</div>
		</div>
	{% else %}
		<div class="blocks" style="height:auto;">
			<div class="block-content" style="padding-left:0px;">
				<a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
				<i>Posted: {{ post.date | date: "%-d %B %Y" }}</i>
				<p>{{ post.content | strip_html | truncatewords: 50 }}</p>
			</div>
		</div>
	{% endif %}
{% endfor %}
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}
</div>
{% endif %}
