---
title: Algorithms
layout: default
---

<p>Algorithms is the bread and butter of a person building a career in CS. I
write about problems here. This page is not representative of how much I code as
I decided not to blog about every problem. I simply write about it in a README
in the directory where I write the code. You can check out the latest problems I
am playing around with in
[HackerSpace](https://github.com/jkschin/hackerspace). This space is reserved
for interesting problems (like Google Code Jam questions)!</p>

{% for post in site.posts %}
	{% for tag in post.tags %}
		{% if tag == 'algorithms' %}
			{% include firstimage.script %}
			{% if presence %}
				<div class="blocks">
					<div class="block-images">
						<div class="block-dummy"></div>
						<div class="block-element">
							<a href="{{ post.url }}"><img {{ imageMarkup }}></a>
						</div>
					</div>
					<div class="block-content">
						<a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
						<p>{{ post.content | strip_html | truncatewords: 50 }}</p>
					</div>
				</div>
			{% else %}
				<div class="blocks" style="height:auto;">
					<div class="block-content" style="padding-left:0px;">
						<a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
						<p>{{ post.content | strip_html | truncatewords: 50 }}</p>
					</div>
				</div>
			{% endif %}
		{% endif %}
	{% endfor %}
{% endfor %}
